[Unit]
Description=GG Asus Fan Control
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/GG-Asus-Fan-Control/GG-Asus-Fan-Control.py --service
Restart=always
User=root

[Install]
WantedBy=multi-user.target
